.card:hover{
    transform: translateY(-5%);
    @include respond(phone){
        transform: none;
    }
}
.card-img-top{
    width: fit-content;
    height: 100%;
}
.card{
    padding: 2%;
   box-sizing: border-box;
   border: black;
   border-radius: 1px;
   @include respond(phone){
   
    padding: 5%;
    
    
}
}
.card-img-top-1{
    width: 100%;
    height: auto;
    @include respond(phone){
        height: auto;
        padding: 5%;
        max-width: 100%;
        justify-content: center;
    }
}