.fa {
    padding: 15px;
    font-size: 80px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 3px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: rgb(59, 89, 152);
    color: white;
  }
  
  
  
  .fa-telegram{
    background: rgb(0, 136, 204) ;
    color: white;
  }
  
  .fa-linkedin {
    background: rgb(0, 123, 181);
    color: white;
  }
  
  .fa-youtube {
    background: rgb(0, 123, 181);
    color: white;
  }
  
  .fa-instagram {
    background: rgb(193, 53, 132);
    color: white;
  }